<div class="book-description">

  <div class="book">
    <h1 class="book-title">{{title}}</h1>
    <h3 class="author">Author: {{author}}</h3>
    <div class ="bookCont"> <img src="{{cover}}" alt="Book Cover"></div>
    
     <p>{{{description}}}</p>


  </div>
  <!-- ADD Button to add a book to favs -->
  <div class = "btnContainer">
  <button type="click" class="btn btn-sm add-book">ADD to Favorites</button>
  </div>
</div>

<script src="/js/book.js"></script>
