<!-- Loop over each object in the projects array -->
{{#each projects as |project| }}
<!DOCTYPE html>
<html lang="en">

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <div class="container is-fluid">
  <nav class="navbar" id="theNav" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
    <div class = "mainHeader">
        <h1>Book Worm</h1>
    </div>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start" id="genre" >
        <a class="navbar-item">
          Home
        </a>
        <a class="navbar-item">
          Fantasy
        </a>
        <a class="navbar-item">
           Sci-fi
          </a>
          <a class="navbar-item">
            Non-Fiction
          </a>
          <a class="navbar-item">
            Fiction
          </a>
      </div>
      <div class="navbar-end" id="logIn">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </nav>
</head>
