<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Worm</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <div class="ourTitle">
    <h1> Book Worm</h1>
  </div>

<body>
  <div style="text-align: center;">
    <h2> Browse selections </h2>
    <h2> Click image to read description </h2>
  </div>

  <button id="displayMoreBtn">Display More Books</button>
  
  <!-- script.js calls Google Books API -->
  <script src="/js/script.js"></script>

</body>