<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    {{!-- //adding a font so that the user can see their favorite books  --}}
    <h3>My favorite books:</h3>
    <div class="book" ata-bookid="{{book.id}}">
      <img src="{{cover}}" alt="Book Cover"> 
    </div>

<script src="./js/profile.js"></script>
