
body{
  background-color: rgb(113, 158, 113);
}
.ourTitle a {
  font-size: 3rem;
  color:rgb(245, 245, 176);
}
.ourTitle a:hover{
  color: rgb(205, 187, 162);
}
.theNav {
  background-color: rgb(205, 187, 162);
  color: rgb(184, 239, 154);
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  text-align: left;
}
.theNav :hover{
  color:rgb(113, 158, 113);
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
.genreHeading{
  font-family:'Courier New', Courier, monospace;
  font-size: 2rem;
  font-weight: bolder;
  padding: 1%;
  color:rgb(184, 239, 154);
}
.bookCover{
  padding: 1.5%;
  width: 15rem;
  height: 20rem;
  border:1rem solid;
  border-color:  rgb(205, 187, 162);
}
.bookCover:hover{
  opacity: 50%;
}